@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

.mainBack {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 50%), url(images/real.png);
  background-size:cover;
  background-position: center;
  position: relative;
}

.header {
  background: url(images/brow.jpg);
  position: fixed;
  width: 100%;
  height: 6rem;
  display: flex;
}

.navBar {
  width: 100%;
  margin: 0;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 5rem;
  height: 5rem;
  padding: 2rem ;
}

.nav-links {
  margin: 100;
  flex: 1;
  text-align: center;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  margin: 0 70px;
  position:relative;
}

.nav-links ul li a {
  text-decoration: underline;
  color: white;
  text-transform: uppercase;
}

.nav-links ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: rgb(255, 212, 170);
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.textBox {
  width: 90%;
  color: rgb(255, 255, 255, 0.85);
  position: absolute;
  padding-top: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

.textBox h1 {
  font-size: 62px;
}

.quality {
  flex-basis: 30%;
  
  background-size: cover;
  width: 400px;
  height: 60vh;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}

.mainBack p {
  font-family: "Times New Roman", Times, serif;
  font-size: 45px;
  color: bisque;
}

.mainBack .fa {
  display: none;
}

.About{
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url(images/stand.jpg);
  background-size:cover;
  background-position: center;
}

.About .content{
  max-width: 45rem;
  padding: 2rem;
  
}

.About .content h3{
  font-size: 4rem;
  color: white;
  
}

.About .content p{
  font-size: 1.5rem;
  color: white;
  
}

.About .rand {
  height: 30rem;
  padding-left: 5rem;
}


.Selection{
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(to top, rgba(0, 0, 0) 50%, rgba(0, 0, 0) 50%);
  background-size:cover;
  background-position: center;
}




/* about section */










































.about_mainBack {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 50%), url(images/halfmenu.jpg);
  background-size:cover;
  background-position: center;
  position: relative;
}

.about_mainBack .fa {
  display: none;
}

.about {
  width: 90%;
  color: rgb(255, 255, 255, 0.85);
  position: absolute;
  padding: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

.about h1 {
  font-size: 50px;
  color: white;

}

.about .row h3 {
  font-size: 35px;
}

.about .row p {
  font-size: 20px;
  padding-top: 15px;
} 

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.about_col {
  flex-basis: 30%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url(images/mainBack3.jpg);
  background-size: cover;
  height: 60vh;
  border-radius: 10px;
  margin-bottom: 0%;
  padding: 20px 12px;
  box-sizing: border-box;
}

.about_col2 {
  flex-basis: 30%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url(images/teaBack.jpg);
  background-size: cover;
  height: 60vh;
  border-radius: 10px;
  margin-bottom: 0%;
  padding: 20px 12px;
  box-sizing: border-box;
}

.about_col3 {
  flex-basis: 30%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url(images/mainBack4.jpg);
  background-size: cover;
  height: 60vh;
  border-radius: 10px;
  margin-bottom: 0%;
  padding: 20px 12px;
  box-sizing: border-box;
}

/* selection section */

.selection_mainBack {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url(images/cups.jpg);
  background-size:cover;
  background-position: center;
  position: relative;
}

.selection_mainBack .fa {
  display: none;
}

/* phones section */

@media (max-width: 770px) {
  .textBox h1 {
    font-size: 20px;
  }

  .about_mainBack h1 {
    font-size: 40px;
  }

  .nav-links ul li {
    display: block;
    margin: 50px 50px;
    
  }

  .nav-links ul li a{
    color: rgb(56, 34, 12);
    
  }
 
  .nav-links {
    position: absolute;
    background: rgb(255, 212, 170);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
    
  }

  .nav-links ul {
    padding: 15px;
    
  }

  .mainBack .fa {
    display: block;
    color: white;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
    
  }

  .about_mainBack .fa {
    display: block;
    color: white;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
    
  }

  .selection_mainBack .fa {
    display: block;
    color: white;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
    
  }

  .row {
    flex-direction: column;
    display: block;
  }

  .about_col {
    width: 100%;
    height: 45vh;
    margin: 50px 0;
  }

  .about_col2 {
    width: 100%;
    height: 45vh;
    margin: 50px 0;
  }

  .about_col3 {
    width: 100%;
    height: 45vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url(images/mainBack2.jpg);
    background-size: cover;
    margin: 50px 0;
  }
  
}




